$background-primary: #222222;
$background-secondary: #2E2E2E;
$background-tertiary: #2A2A2A;

$color-primary: #42A5F5;
$color-secondary: #3F3F3F;
$color-success: #1DD447;
$color-danger: #DC3545;

$border-primary: #388CD0;
$border-secondary: #413e3e;
$border-success: #2CC02E;
$border-danger: #C21D1D;

$foreground-color: #D1D1D1;