@import "variables";

$font-family: 
    Roboto, BlinkMacSystemFont, 'Segoe UI', 
    Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;

* {
    box-sizing: border-box;
}

html, body {
    background-color: $background-primary;    
    font-family: $font-family;
    height: 100%;
}

.main {
    display:flex; 
    flex-direction:column;
    height: 100vh;
}

.content {
    flex-grow: 1;
    padding: 3rem 10%;
}


@media (max-width: 800px) {
    .content {
        padding: 3rem 1rem !important;
    }

    .product-list {
        // gap: 2rem 3rem;
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media (max-width: 1200px) {
    .product-list {
        gap: 2rem 2rem;
        grid-template-columns: repeat(3, 1fr);
    }

    #product_form {
        grid-template-columns: 1fr !important;
    }
}

@media (max-width: 1400px) {
    .content {
        padding: 3rem 3rem;
    }

    #product_form {
        grid-template-columns: 50% 1fr;
        column-gap: 2rem;
    }
}