@import "variables";

$font-family: 
    Roboto, BlinkMacSystemFont, 'Segoe UI', 
    Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;

* {
    box-sizing: border-box;
}

html, body {
    background-color: $background-primary;    
    font-family: $font-family;
    height: 100%;
}

.main {
    display:flex; 
    flex-direction:column;
    height: 100vh;
}

.content {
    flex-grow: 1;
    padding: 3rem 10rem;
}