@use "sass:color";
@import "../variables";

.header {
    background-color: $background-secondary;
    color: $foreground-color;
    display: flex;
    padding: 1rem 2rem;

    section {
        display: flex;
        flex: 1;

        &.actions {
            justify-content: flex-end;
        }
    }
}

@mixin darken($fg, $border, $val: -20%) {
    background-color: color.scale($fg, $lightness: $val);
    border-color: color.scale($border, $lightness: $val);
}

.label h1 {
    font-size: 1.5rem;
}

.button {
    border: 2px solid;
    border-radius: 3px;
    color: #FFF;
    flex-basis: 10rem;
    font-weight: bold;
    transition: .1s;

    &:not(:last-child) {
        margin-right: 1rem;
    }

    &:hover {
        cursor: pointer;
    }

    &.primary {
        background-color: $color-primary;
        border-color: $border-primary;

        &:hover {
            @include darken($color-primary, $border-primary);
        }
    }

    &.secondary {
        background-color: $color-secondary;
        border-color: $border-secondary;
        color: #B4B4B4;

        &:hover {
            @include darken($color-secondary, $border-secondary, 5%);
        }
    }

    &.success {
        background-color: $color-success;
        border-color: $border-success;

        &:hover {
            @include darken($color-success, $border-success);
        }
    }

    &.danger {
        background-color: $color-danger;
        border-color: $border-danger;

        &:hover {
            @include darken($color-danger, $color-danger);
        }
    }
}