@import '../variables';

.product-list {
    display: grid;
    gap: 2rem 3rem;
    grid-template-columns: repeat(4, 1fr);
}

.product-card {
    background-color: $background-tertiary;
    border-radius: 5px;
    // box-shadow: 0 0 0 4px $background-primary;
    color: #FFF;
    cursor: pointer;
    font-size: 1.2rem;
    overflow: hidden;
    padding: 2.5rem 0 1.5rem;
    position: relative;
    text-align: center;

    &:hover {
        box-shadow: 0 0 0 4px $color-primary;
    }
}

.checkbox-label {
    left: 10%;
    position: absolute;
    top: 10%;

    input[type=checkbox] {
        display: none;
    }

    span {
        border: 2px solid $color-primary;
        border-radius: 3px;
        cursor: pointer;
        display: inline-block;
        height: 18px;
        width: 18px;
    }

    input[type=checkbox]:checked + span {
        background: $color-danger;
        border-color: $color-danger;
        border-radius: 3px;
        color: #FFF;
        text-decoration: none;
    }
}

.shadow {
    box-shadow: 
        0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14), 
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover {
        box-shadow: 
            0px 11px 15px -7px rgba(0, 0, 0, 0.2), 
            0px 24px 38px 3px rgba(0, 0, 0, 0.14), 
            0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    }

    &.marked {
        box-shadow: 
            0px 11px 15px -7px rgba(0, 0, 0, 0.2), 
            0px 24px 38px 3px rgba(0, 0, 0, 0.14), 
            0px 9px 46px 8px rgba(0, 0, 0, 0.12),
            0 0 0 4px $color-danger;
    }
}